@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: Roboto sans-serif;
}
.container {
    background-color: #23424A;
}
.container--inner {
    padding: 5rem 7rem;
    width: 60%;
    max-width: 700px;
}

h1 {
    
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
}
p {
    padding-bottom: 3rem;
}

p , h1 {
    color: #FFFFFF;
}
h1, .btn--learn, p {
    font-style: normal;
    line-height: 2rem;
}

.btn--learn {
    background: #38CFD9;
    border-radius: 2rem;
    padding: .7em 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    line-height: 150.19%;
    letter-spacing: .05em;
    transition: background 1s ease;
}

.btn--learn:hover {
    background: rgb(73, 214, 149);
}


.row {
    /* display: flex => flex container */
    display: flex;
    gap: 100px;
}

.col {
    /* these are now flex items */
    width: 100%;
}

.middle-section, .bottom-section {
    padding: 5rem 7rem;
}

.middle-section  h2, .bottom-section h2 {
    color: #87629A
}

.middle-section p, .bottom-section h2  {
    color: black;
}

.bottom-section {
    background-color: #136C72;
}

